@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap');
.navigation {
    margin: 100px 0px 100px 27%;
}
.navigation ul li a:hover{
    color: #03a9f4;
}

.navigation ul li a{
    text-decoration: none;
    color: #626262;
}

.navigation ul li{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    display: inline-block;
    margin-right: 120px;
}

.first_block div{
    display: inline-block;
    width: 420px;
    height: 610px;
    
}

.img {
    margin: 0px 61px 0px 350px;
    width: 421px;
    margin-bottom: 35px;
    height: 280px;.
}

.second_block div{
    display: inline-block;
    width: 421px;
    
}

.button {
    border: 1px solid #626262;
    background-color: #ffffff;
    padding: 13px 34px 13px 34px;
    margin: 60px 0px 70px 730px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}



.little_text{
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.lorem_text{
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.title{
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 29px;
}

.PHOTO{

display: inline-block;
width: 421px;
height: 280px;
margin-bottom: 32px;


}