
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.navigation{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.navigation_links {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    list-style-type: none;
    width: 500px;
}
.navigation_links li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.navigation_links li a:after {
    border-bottom: 3px solid;
    display: block;
    color: #f38181;
    position: absolute;
    content: "";
    width: 0;
    transition: width 0.3s;
    right: 0;
    margin-top: 8px
}
.navigation_links li a:hover:after {
    
    width: 100%;
}
.navigation_links li a:hover{
color:#f38181;

    
}
.navigation_links li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}
.first {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.second {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
    width: 200px;
}

.mogo{
    list-style-type: none;
    margin: 0px 480px 10px 60px;
    
}
.mogo li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #95e1d3;
    font-size: 30px;
}

    

.block {
    display: flex;
    align-items: center;
}
.big_text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
}
.logotype {
    margin: 28px 0px 0px 360px;
    list-style-type: none;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.strange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.line {
    display: block;
    background-color: #f38181;
    height: 3px;
    margin: 50px 1000px
    
}
.image {
    margin: 0px 20px 26px 20px;
}
img{
    width: 32px;
    height: 32px;
}