header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.navigation_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

.navigation_links li{
    margin-right: 57px;
}
.first {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 200px 50px 200px;
}

.second {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 200px 50px 200px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
}



.block {
    display: flex;
    align-items: center;
}
.team {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px 194px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #b3b3b3;
}

.logotype {
    margin: 0px 0px 12pt 180px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #95e1d3;
    font-size: 30px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.strange {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
.navigation_links li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}
.line {
    display: flex;
    background-color: #f38181;
    height: 3px;
    justify-content: center;
    margin: 10px 800px 20px 800px;
}
.image {
    margin: 0px 20px 20px 20px;
}

.navigation_links li a:hover{
    color: #f38181;
    border-bottom: 3px solid;
    transition: 0.3s;
}