.Title{ 
    display: block;
    margin-top: 106px;
}
.linee{
    width: 100px;
    height: 3.5px;
    background-color: #000000;
}
.lineee{
display: flex;
    justify-content: center;
    margin-top: 27px;
}
.text{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 15px;
}
.photo{
    display: inline-block;
    margin-bottom: 21px;
}

.main-text{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;;
}
.main-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.first{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #898989;
    font-family: 'DroidSerif';
    font-style: italic;
    font-family: 'Times New Roman';
}
.big-two{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.one{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
   justify-content: space-between;
}
.task{
    margin-top: 50px;
    text-align: center;
}
.photo{
    display: inline-block;
    margin-bottom: 21px;
}
.tosk{
  text-align: center;
  width:280px;
}
.img{
    height: 35px;
    width: 35px;
}


.mogo {
    font-size: 25px;
    color: #000000;
    height: 30px;
    font-family: 'Montserrat';
}

.mogo:hover {
    color: #FED135;
}

.Name {
    width: 25%;
    display: flex;
    justify-content: center;
}

.small-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.kd {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.inst{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-start;
    
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 40px 0px 40px ;
}
.HR{
    border: 1px solid #000000;
}

.sett {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    background-color: #ffffff;
}
.phone_num{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}
.big-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactss{
font-weight: 600;
font-size: 28px;
}

.List {
    width: 50%;
    justify-content: flex-end;
}

.navigation:hover {
    color: #FED135;
    transition: 0.3s;
}
.line1{
    display: flex;
    width: 100px;
    height: 1px;
    background-color: #FED135;
    border: 1px solid #FED135;
}

.list {
    display: flex;
    flex-direction: column;
}

.drop-down-list {
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.icons {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.d-d-list {
    padding: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.d-d-list:hover {
    color: #FED135;
    transition: 0.3s;
}

.navigation {
    display: inline-block;
    color: #000000;
    line-height: 1;
    text-decoration: none;
    padding-top: 3px;
    cursor: pointer;
    position: relative;
}

.navigation:after {
    color: #FED135;
    background-color: #FED135;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    margin-top: 15px;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.navigation:hover:after,
.navigation:focus:after {
    width: 60%;
}

li {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 24px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
